@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  height: 100vh;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.left-slide {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;

  & > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:nth-of-type(1) {
      background-color: rgb(204, 45, 132);
    }
    &:nth-of-type(2) {
      background-color: rgb(45, 204, 130);
    }
    &:nth-of-type(3) {
      background-color: rgb(204, 183, 45);
    }
  }

  h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -30px;
  }
}

.right-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;

  & > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;

    &:nth-of-type(1) {
      /* Matches with slide 3 */
      background-image: url("https://images.unsplash.com/photo-1550133730-695473e544be?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    }
    &:nth-of-type(2) {
      /* Matches with slide 2 */
      background-image: url("https://images.unsplash.com/photo-1717186389576-7a2e77785e5a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    }
    &:nth-of-type(3) {
      /* Matches with slide 1 */
      background-image: url("https://images.unsplash.com/photo-1526344966-89049886b28d?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    }
  }
}

button {
  background: #fafafa;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;

  &:hover {
    color: #222;
  }

  &:focus {
    outline: none;
  }
}

.action-buttons button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}

.down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
