@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(73, 73, 72);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.btn {
  background: #fafafa;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  border-left: 1px solid #e1e0e0;

  color: #858585;

  padding: 6rem 3rem;
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  &:focus {
    outline: none;
  }
}

.btn:first-of-type {
  border-left: none;
  border-top-left-radius: 0.3rem;
}
.btn:last-of-type {
  border-top-right-radius: 0.3rem;
}
